<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.CheckinMapper">                                                                                                                               

	<select id="findCheckin"  parameterType="com.neusoft.po.Checkin" resultType="int">
		select count(*) from checkin where phone=#{phone} and time=#{time}
	</select>
	
	<select id="findAllCheckin"  parameterType="com.neusoft.po.Checkin" resultType="String">
		select timestamp from checkin where phone=#{phone}
	</select>
	
	<insert id="saveCheckin"  parameterType="com.neusoft.po.Checkin">
		insert into checkin(timestamp,time,phone) values(#{timestamp},#{time},#{phone})
	</insert>
	
</mapper>
