<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.CouponMapper">                                                                                                                               

	<select id="findCouponByCid"  parameterType="Map" resultType="com.neusoft.po.Coupon">
		select * from coupon where phone=#{phone} and starttime &lt;= #{currenttime} and endtime &gt; #{currenttime}
	</select>
	
	<select id="findCouponById"  parameterType="int" resultType="com.neusoft.po.Coupon">
		select * from coupon where couponid=#{couponid} and valid=1
	</select>
	
	<select id="findCouponByCondition"  parameterType="com.neusoft.po.Coupon" resultType="com.neusoft.po.Coupon">
		select * from coupon where phone=#{phone} and starttime &gt;= #{starttime} and endtime &lt;= #{endtime} and category = #{category}
	</select>
	
	<delete id="deleteCoupon"  parameterType="com.neusoft.po.Coupon">
		delete from coupon where couponid = #{couponid}
	</delete>
	
	<insert id="saveCoupon"  parameterType="com.neusoft.po.Coupon">
		insert into coupon(category,phone,starttime,endtime,discount,name) values(#{category},#{phone},#{starttime},#{endtime},#{discount},#{name})
	</insert>
	
	<update id="updateCoupon"  parameterType="com.neusoft.po.Coupon">
		update coupon set valid=0 where couponid=#{couponid}
	</update>
	
</mapper>
