<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.CustomerMapper">                                                                                                                               

	<select id="findCustomerByPhone"  parameterType="string" resultType="com.neusoft.po.Customer">
		select * from customer where phone=#{_parameter}
	</select>

	<insert id="saveCustomer"  parameterType="com.neusoft.po.Customer">
		insert into customer(phone,password,nickname,money,credit) values(#{phone},#{password},#{nickname},#{money},#{credit})
	</insert>
	
	<update id="updateCustomer"  parameterType="com.neusoft.po.Customer">
		update customer
		<trim prefix="set" suffixOverrides=",">
  			<if test="password!=null">password=#{password},</if>
  			<if test="nickname!=null">nickname=#{nickname},</if>
  			<if test="money!=null">money=money+#{money},</if>
  			<if test="credit!=null">credit=credit+#{credit},</if>
  		</trim>
		where phone=#{phone}
	</update>
	
</mapper>
